$base-background: black;
$primary-text-color: white;

#app {
  color: $primary-text-color;
  background-color: $base-background;
}

body {
  margin: 0;
}

#loadingpage {
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  font-size: 8vh;
  border-color: white;
  border-width: 2px;
  border-style: groove;
  padding: 4px 10px 4px 10px;
}
